<hr class="custom-hr">
<Footer>
        <p >
          Copyright © 2017-2024
          <a
            
            href="https://www.aganitha.ai"
            target="_blank"
          style="color:#3B82F6">
            Aganitha AI Inc.
          </a>
          All rights reserved.
        </p>
      </Footer>