<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <img src="https://odor-informatics.own5.aganitha.ai:8543/aganitha.jpg" alt="logo" class="logo">
      </div>
      <nav>
        
        <ul role="list" class="header_links">

         <li>
            <a href="/about/" >About</a>
          </li>
          <li>
            <a href="/" >Patent Summary</a>
          </li>
          
          <li>
            <a href="/entity" >Entity Summary</a>
          </li>
        </ul>
      </nav>
    </div>
      <hr class="custom-hr">
  </div>
</header>